lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.tmp
npm-debug.log*
*.jpg
*.png
*.gif
*.svg

###########
.DS_Store
node_modules
dist
pids
log
logs
results
output

npm-debug.log

public/bower_components
.idea

